In [4]:
import pandas as pd
s1=[1,2,3,4,5]
s1=pd.Series(s1)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
s2=pd.Series([1,2,3,4,5,])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
s2=[1,2,3,4,5,]
s2=pd.Series([1,2,3,4,5],index=['p','o','o','j','a'])
s2

p    1
o    2
o    3
j    4
a    5
dtype: int64

In [17]:
pd.Series({'n':100,'i':120,'k':13,'j':1})

n    100
i    120
k     13
j      1
dtype: int64

In [19]:
pd.Series({'n':100,'i':120,'k':13,'i':-1},index=['k','n','d','i'])

k     13.0
n    100.0
d      NaN
i     -1.0
dtype: float64

In [20]:
s2=pd.Series([1,2,3,4,5,])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
s2[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [22]:
s2[-4:]

1    2
2    3
3    4
4    5
dtype: int64

In [23]:
s2 +5

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [30]:
s2 *3

0     3
1     6
2     9
3    12
4    15
dtype: int64

In [24]:
s2=pd.Series([1,2,3,4,5,])
s3=pd.Series([11.2,13.1,3,4])

In [26]:
s3+s2

0    12.2
1    15.1
2     6.0
3     8.0
4     NaN
dtype: float64

In [27]:
s2-s3

0   -10.2
1   -11.1
2     0.0
3     0.0
4     NaN
dtype: float64

In [28]:
s3*s2

0    11.2
1    26.2
2     9.0
3    16.0
4     NaN
dtype: float64

In [29]:
s2/s3

0    0.089286
1    0.152672
2    1.000000
3    1.000000
4         NaN
dtype: float64

In [36]:
df1=pd.DataFrame({"Name":['Niki','Puja','Prath'],"Age":[21,20,19]})
df1

    Name  Age
0   Niki   21
1   Puja   20
2  Prath   19

In [39]:
iris=pd.read_csv('iris.csv')

In [40]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [41]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [45]:
iris.shape

(150, 6)

In [43]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [49]:
iris.iloc[0:3,0:2]

   Id  SepalLengthCm
0   1            5.1
1   2            4.9
2   3            4.7

In [50]:
iris.loc[0:6,("SepalLengthCm","SepalLengthCm")]

   SepalLengthCm  SepalLengthCm
0            5.1            5.1
1            4.9            4.9
2            4.7            4.7
3            4.6            4.6
4            5.0            5.0
5            5.4            5.4
6            4.6            4.6

In [53]:
iris.drop('SepalLengthCm',axis=1)

      Id  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1           3.5            1.4           0.2     Iris-setosa
1      2           3.0            1.4           0.2     Iris-setosa
2      3           3.2            1.3           0.2     Iris-setosa
3      4           3.1            1.5           0.2     Iris-setosa
4      5           3.6            1.4           0.2     Iris-setosa
..   ...           ...            ...           ...             ...
145  146           3.0            5.2           2.3  Iris-virginica
146  147           2.5            5.0           1.9  Iris-virginica
147  148           3.0            5.2           2.0  Iris-virginica
148  149           3.4            5.4           2.3  Iris-virginica
149  150           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [55]:
iris.drop([1,2,3],axis=0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [57]:
iris.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [58]:
iris.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm               2
PetalLengthCm              1
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object

In [59]:
iris.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [60]:
iris.median()

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [63]:
def double_make(s):
    return s*2

In [66]:
iris[['SepalLengthCm','PetalLengthCm']].apply(double_make)

     SepalLengthCm  PetalLengthCm
0             10.2            2.8
1              9.8            2.8
2              9.4            2.6
3              9.2            3.0
4             10.0            2.8
..             ...            ...
145           13.4           10.4
146           12.6           10.0
147           13.0           10.4
148           12.4           10.8
149           11.8           10.2

[150 rows x 2 columns]

In [68]:
iris['Species'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: Species, dtype: int64

In [70]:
iris.sort_values(by='SepalLengthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica